## Sample files
*.dat
*.tsv
*.csv
!*reference_sample.csv
!src/permanent_data/*.csv
*.npy
!*reference_sample.npy
!src/permanent_data/*.npy
!src/permanent_data/reference_data/*.npy
src/event_chain_mediator_constant_lambda/
src/config_files/event_chain/event_chain_*.ini
src/sample_analysis/test_convergence_copy.py
src/sample_analysis/quantum_harmonic_oscillator_analysis.py
src/vals_0.txt
src/config_files/factor_fields_b_*
src/config_files/qho_iact/*

## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
*.tex~

## Intermediate documents:
*.swp
*.backup
*.dvi
*-converted-to.*

## Image files:
*.ps
*.eps
*.pdf
*.png
*.mp4

## Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.brf
*.run.xml

## Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

## Python temp files:
*.pyc
*__pycache__

## Mac compilation file:
*.DS_Store

## Pycharm IDE files:
.idea/

## Microsoft Office files
*.pptx
*.ppt
*.docx
*.doc

## venv directory for pip-environment management
venv/
super_alby_venv/
super-aLby_venv
output/
env/
vals.txt
vals1.txt

#VSCode
.vscode/

# helper filesfor HPC
src/generate_bash_scripts.py
src/generate_configs.py


# VSCode
.vscode/