## Sample files
*.dat
*.csv
!/src/input_data_files/*.csv
!/src/output/convergence_tests/gaussian_reference_sample.csv
!/src/output/convergence_tests/fourth_exponential_power_reference_sample.csv

## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
*.tex~

## Intermediate documents:
*.swp
*.backup
*.dvi
*-converted-to.*

## Image files:
*.ps
*.eps
*.pdf
*.png


## Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.brf
*.run.xml

## Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

## Python temp files:
*.pyc
*__pycache__

## Mac compilation file:
*.DS_Store

## Pycharm IDE files:
.idea/

## Microsoft Office files
*.pptx
*.ppt
*.docx
*.doc
